.bigCard {
  min-width: 380px;
  background: #e3eff0;
  position: relative;
  width: 85%;
  margin: auto;
  top: 50px;
  height: 700px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 8px rgba(122, 140, 143, 0.8);
  border-radius: 10px;
  max-width: 650px;
}

.bigPic {
  position: relative;
  margin: auto;
  margin-top: 60px;
  width: 85%;
  height: 40%;
  max-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.title {
  position: absolute;
  margin: 20px 200px 5px 150px;
  font-family: "Alegreya", serif;
}

@media (min-width: 480px) {
  .bigPic {
    height: 50%;
    margin-top: 12%;
  }
}
