#flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #2a7dba;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 664px) {
  #flexbox {
    align-content: flex-start;
  }
}
