.header-container {
    display: flex;
    display: -webkit-flex;
    padding: 1.5em;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    font-size: 1.2em;
    flex: 0 0 auto;
    transition: all 0.25s linear;
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }
  .header-title:hover {
    color: #01579b;
  }
  
  .logo{
    position: relative;
    top: 3px;
    left: 4px;
    width: 24px;
    height: 24px;
  }
  .navbar-links {
    flex: 0 0 auto;
  }
  
  .navbar-links a {
    font-size: 1.1em;
    border-right: 1px solid #e0e0e0;
    padding: 0 1em;
    transition: all 0.25s linear;

  }
  
  .header-login {
    display: inline-block;
  }
  
  .navbar-links > a:hover {
    color: #01579b;

  }
  .navbar-links > a:active {
    color: black;

  }
  
  
  .navbar-links > a:first-child {
    border-left: 1px solid #e0e0e0;
  }
  
  .footer-container {
    padding: 0.25em 0;
    margin: 0 auto;
  }
  