.bigCard {
  background: #e3eff0;
  position: relative;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  height: 700px;
  border: 1px solid black;
  border-radius: 10px;
}

.bigPic {
  position: relative;
  margin: auto;
  margin-top: 12%;
  width: 85%;
  height: 50%;
  max-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
