.bigCard {
  min-width: 380px;
  background: #e3eff0;
  position: relative;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  height: 700px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 650px;
}

.bigPic {
  position: relative;
  margin: auto;
  margin-top: 60px;
  width: 85%;
  height: 40%;
  max-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

@media(min-width: 480px) {
  .bigPic {
    height: 50%;
    margin-top: 12%;
  }
}
